@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.clouds-animation {
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.05));
  transform-origin: center;
}

@media (prefers-color-scheme: dark) {
  .clouds-animation {
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.05));
  }
}

.font-serif {
  font-family: 'Cormorant Garamond', serif;
}

/* CloudAnimation.css */

/* Sky background */
.clouds-container {
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Common cloud styles */
.cloud {
  position: absolute;
  width: 300px;
  height: 180px;
  background: #fff;
  border-radius: 50%;
  box-shadow: -50px -50px 0 -25px #fff,
              50px -50px 0 -25px #fff,
              0 50px 0 -25px #fff,
              -100px 0 0 -25px #fff,
              100px 0 0 -25px #fff;
  opacity: 0.9;
}

/* Left cloud */
.left-cloud {
  left: 50%;
  transform: translateX(-150%);
  animation: leftCloudMove 4s forwards ease-in-out;
  animation-delay: 4s; /* Match the isLoading duration */
}

/* Right cloud */
.right-cloud {
  right: 50%;
  transform: translateX(150%);
  animation: rightCloudMove 4s forwards ease-in-out;
  animation-delay: 4s;
}

@keyframes leftCloudMove {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes rightCloudMove {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(300%);
  }
}
